// =============================================================================
// Font Face Declarations
// Local fonts: Sora (headlines) & Inter (body text)
// =============================================================================

// -----------------------------------------------------------------------------
// SORA FONT FAMILY - Headlines (h1-h6)
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Sora';
    src: url('../fonts/sora/Sora-Thin.woff2') format('woff2'),
         url('../fonts/sora/Sora-Thin.woff') format('woff'),
         url('../fonts/sora/Sora-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/sora/Sora-ExtraLight.woff2') format('woff2'),
         url('../fonts/sora/Sora-ExtraLight.woff') format('woff'),
         url('../fonts/sora/Sora-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/sora/Sora-Light.woff2') format('woff2'),
         url('../fonts/sora/Sora-Light.woff') format('woff'),
         url('../fonts/sora/Sora-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/sora/Sora-Regular.woff2') format('woff2'),
         url('../fonts/sora/Sora-Regular.woff') format('woff'),
         url('../fonts/sora/Sora-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/sora/Sora-Medium.woff2') format('woff2'),
         url('../fonts/sora/Sora-Medium.woff') format('woff'),
         url('../fonts/sora/Sora-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/sora/Sora-SemiBold.woff2') format('woff2'),
         url('../fonts/sora/Sora-SemiBold.woff') format('woff'),
         url('../fonts/sora/Sora-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/sora/Sora-Bold.woff2') format('woff2'),
         url('../fonts/sora/Sora-Bold.woff') format('woff'),
         url('../fonts/sora/Sora-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/sora/Sora-ExtraBold.woff2') format('woff2'),
         url('../fonts/sora/Sora-ExtraBold.woff') format('woff'),
         url('../fonts/sora/Sora-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

// -----------------------------------------------------------------------------
// INTER FONT FAMILY
// Regular weights loaded via Google Fonts import in _base.scss.
// Local italic variants are available but not loaded by default to prevent
// browser from using italic fonts for regular text.
// -----------------------------------------------------------------------------

